# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Application binary
o8n

# User config file (use o8n-env.yaml.example as template)
o8n-env.yaml

# Editor/IDE
.idea/
.vscode/

# Generated OpenAPI client files
internal/operaton/.openapi-generator/
internal/operaton/.openapi-generator-ignore
internal/operaton/.gitignore
internal/operaton/.travis.yml
internal/operaton/git_push.sh
internal/operaton/README.md
internal/operaton/docs/
internal/operaton/test/
