/*
Operaton REST API

OpenApi Spec for Operaton REST API.

API version: 1.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package operaton

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ModificationAPIService ModificationAPI service
type ModificationAPIService service

type ApiExecuteModificationRequest struct {
	ctx             context.Context
	ApiService      *ModificationAPIService
	modificationDto *ModificationDto
}

func (r ApiExecuteModificationRequest) ModificationDto(modificationDto ModificationDto) ApiExecuteModificationRequest {
	r.modificationDto = &modificationDto
	return r
}

func (r ApiExecuteModificationRequest) Execute() (*http.Response, error) {
	return r.ApiService.ExecuteModificationExecute(r)
}

/*
ExecuteModification Execute Modification

Executes a modification synchronously for multiple process instances.
To modify a single process instance, use the
[Modify Process Instance Execution State](https://docs.operaton.org/manual/1.0/reference/rest/process-instance/post-modification/) method.
To execute a modification asynchronously, use the
[Execute Modification Async (Batch)](https://docs.operaton.org/manual/1.0/reference/rest/modification/post-modification-async/) method.

For more information about the difference between synchronous and
asynchronous execution of a modification, please refer to the related
section of the
[user guide](https://docs.operaton.org/manual/1.0/user-guide/process-engine/process-instance-migration.md#executing-a-migration-plan).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiExecuteModificationRequest
*/
func (a *ModificationAPIService) ExecuteModification(ctx context.Context) ApiExecuteModificationRequest {
	return ApiExecuteModificationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ModificationAPIService) ExecuteModificationExecute(r ApiExecuteModificationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModificationAPIService.ExecuteModification")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/modification/execute"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modificationDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiExecuteModificationAsyncRequest struct {
	ctx             context.Context
	ApiService      *ModificationAPIService
	modificationDto *ModificationDto
}

func (r ApiExecuteModificationAsyncRequest) ModificationDto(modificationDto ModificationDto) ApiExecuteModificationAsyncRequest {
	r.modificationDto = &modificationDto
	return r
}

func (r ApiExecuteModificationAsyncRequest) Execute() (*BatchDto, *http.Response, error) {
	return r.ApiService.ExecuteModificationAsyncExecute(r)
}

/*
ExecuteModificationAsync Execute Modification Async (Batch)

Executes a modification asynchronously for multiple process instances. To execute a
modification synchronously, use the
[Execute Modification](https://docs.operaton.org/manual/1.0/reference/rest/modification/post-modification-sync/) method.

For more information about the difference between synchronous and
asynchronous execution of a modification, please refer to the related
section of the
[user guide](https://docs.operaton.org/manual/1.0/user-guide/process-engine/process-instance-migration.md#executing-a-migration-plan).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiExecuteModificationAsyncRequest
*/
func (a *ModificationAPIService) ExecuteModificationAsync(ctx context.Context) ApiExecuteModificationAsyncRequest {
	return ApiExecuteModificationAsyncRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BatchDto
func (a *ModificationAPIService) ExecuteModificationAsyncExecute(r ApiExecuteModificationAsyncRequest) (*BatchDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BatchDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModificationAPIService.ExecuteModificationAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/modification/executeAsync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modificationDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
